@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Roboto+Condensed:wght@700&family=Ubuntu+Mono:wght@700&display=swap");
@import url("../node_modules/include-media/dist/_include-media.scss");

$breakpoints: (phone: 640px, 
               tablet: 768px, 
               desktop: 1024px) !default;

.page1{
    display: flex;
    flex-direction: row;
    @include media(">phone", "<tablet") {
        display: none;
    }
    .left{
        flex: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h4{
            color: white;
            font-family: 'IBM Plex Mono', monospace;
            // line-height: 0;
            font-size: xx-large;
            margin-bottom: 0;
            @include media(">phone", "<tablet") {
                color:blue;
            }
        }
        p{
            color: white;
            font-family: 'IBM Plex Mono', monospace;
            margin-top: 0;
        }
    }
    .right{
        flex: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            color: white;
            font-family: 'IBM Plex Mono', monospace;
            line-height: 0;
        }
    }
    
}


.s2{
    background-color: blue;
}

.s3{
    background-color: red;
}

span{
    background: white !important;
}