@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Roboto+Condensed:wght@700&family=Ubuntu+Mono:wght@700&display=swap");
.button_container {
  position: absolute;
  top: 8%;
  right: 2%;
  height: 10px;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.topnav #myLinks {
  display: none;
  position: absolute;
  z-index: 3;
}
.topnav #myLinks a {
  text-decoration: none;
  color: white;
}

.page1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-wrapper {
  width: 50%;
  padding-bottom: 50%;
  position: absolute;
  z-index: 1;
  top: 10;
  left: 10;
  opacity: 0.4;
}

.sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(80, 80, 80, 0.35);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 0.4px;
  }
}
.greetings {
  position: relative;
  z-index: 2;
}
.greetings h4 {
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-size: xx-large;
  line-height: 0cap;
  text-shadow: 2px 2px #ff0000;
}
.greetings .text {
  color: white;
  font-family: "IBM Plex Mono", monospace;
  letter-spacing: 0.075rem;
  font-size: small;
  line-height: 0cap;
  margin: 0;
}
.greetings .text .content {
  display: inline;
}
.greetings .text .cursor {
  display: inline-block;
  font-weight: bolder;
  animation: blink 0.5s infinite linear;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slides1 {
  display: flex;
  flex-direction: row;
}
.slides1 .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slides1 .left .tttcard {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition-duration: 500ms;
  overflow: hidden;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slides1 .left .tttcard img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 300px;
  padding: 0;
  border-radius: 10px;
}
.slides1 .left .tttcard p {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 0;
}
.slides1 .left .tttcard:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.slides1 .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slides1 .right h4 {
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: xx-large;
  letter-spacing: 0.05rem;
  margin: 0;
}
.slides1 .right p {
  color: white;
  font-family: "IBM Plex Mono", monospace;
  letter-spacing: 0.05rem;
  margin: 0;
}

.s2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.s2 h4 {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 0.05rem;
  text-shadow: 2px 2px #ff0000;
}/*# sourceMappingURL=main.css.map */