@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "../../node_modules/include-media/dist/include-media";

* {
  font-family: "Poppins";
}

body {
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  // min-height: 100vh;
  flex-direction: column;
}

.addwrapper {
  justify-self: flex-start;
  margin: 50px;
  background-color: yellow;
  padding: 15px;
  border-radius: 10px;
  width: 500px;
  @include media(">phone", "<=tablet") {
    width: 70vw;
  }
  input {
    width: 90%;
    @include media(">phone", "<=tablet") {
      width: 80%;
    }
    border: 1px solid gold;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
  }
  button {
    color: white;
    background-color: aqua;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    transition: 200ms;
  }
  button:hover {
    cursor: pointer;
    background-color: aquamarine;
    transform: scale(1.2);
    transition: 0ms;
  }
  button:active {
    transform: scale(1);
  }
}

.todocontainer {
  display: flex;
  flex-wrap: wrap;
}

.task {
  display: grid;
  place-items: center;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  width: 200px;
}
